
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.navbar-toggler{
  color: white;
}
.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: #fff !important;
  margin-right: 10px;
  border: 1px transparent;
}
.navbar-custom .navbar-brand{
  width: 70px;
}


.d-flex div{
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.d-flex div img{
    border-radius: 40%;
}
h6{
    opacity: 50%;
}

.hero-section h2{
    opacity: 70%;
}
.hero-section {
  columns: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  padding-top: 150px;
}
.text-container,
.image-container {
  flex: 1; 
}
.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.image-container-page {
  flex: 1; 
}
.text-container-page{
  flex: 3;
}
.image-container-page img {
  width: 50%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column !important;
    text-align: center;
  }
  .about-section div{
  width: 100% !important;
  font-size: 1.5em;
}
.navbar-custom .navbar-brand{
  width: 70px;
  margin-left: 10px !important;
}

.about-section{
  padding: 0% !important;
}
.page-body-container-contents-section{
  width: 95% !important;
}
.footer-section-elements{
  flex-direction: column !important;
}
}
.hero-section .btn {
  margin-top: 20px;
}
.page-body{
  height: fit-content;
  padding-top: 30px;
  width: 100%;
}
.page-body-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;


}
.page-body-container span{
  border: 1px solid white;
  width: 10%;
  height: 1px;
  margin: 15px;
}
.page-body-container-contents{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-body-container-contents-section{
  width: 55%;
  padding-left: 20px;
  margin-top: 40px;
  border-left: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;  
}

.timeline-item-title{
  display: flex;
  flex-direction: row;

}
.timeline-item-title h5, .timeline-item-title h6{
  display: flex !important;
  width: 100% !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  margin-bottom: 10px;
}
.timeline-dot{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: -61px;
  position:absolute;
}
.timeline-item{
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
  background-color: rgba(63, 21, 3, 0.2);
}
ul{
  margin-top: 20px;
}
li{
  margin-top: 10px;
}
.about-section{
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  
}
.name{
  color: red;
  font-weight:bold;
}
.about-section div{
  width: 80%;
  font-size: 1.5em;
}
h2{
  margin-bottom: 20px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}
.logo{
  width: 20px;
  height: auto;
}

.footer-section{
  padding: 20px;
  margin-top: 20px;
  background-color: darkslategray;
}
.footer-section-divider{

  margin-top: 50px;
  margin-bottom: 20px;
  height: 1px;
  width: 100%;
  background-color: gray;
}
.footer-section-elements{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.footer-section-elements .interests, .footer-section-elements .salary-range{
  flex: 1;
}
.footer-section-elements .send-message{
  flex: 2;
}
.fade-text{
  opacity: 50%;
}
input{
  background-color: transparent;
}
.footer-underline{
  width: 50px;
  height: 2px;
  background-color: gray;
}