
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: #fff !important;
  margin-right: 10px;
  border: 1px transparent;
}
.navbar-custom .navbar-brand{
  width: 70px;
}
.navbar-toggler{
  border: none;
}


.d-flex div{
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.d-flex div img{
    border-radius: 40%;
}
h6{
    opacity: 50%;
}

.hero-section h2{
    opacity: 70%;
}
.hero-section {
  columns: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-top: 70px;
}
.image-container img {
  height: 300px;
  width: auto;
  border-radius: 10px;
  padding: 20px;
}
.image-container-page img {
  width: 50%;
  height: 100vh;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 5px;
  }
  .about-section div{
  width: 100% !important;
  padding: 5px;
  font-size: 1.5em;
}
.navbar-custom .navbar-brand{
  width: 70px;
  margin-left: 10px !important;
}
.about-section{
  padding: 5px !important;
}
.page-body-container-contents-section{
  width: 95% !important;
}
.footer-section-elements{
  flex-direction: column !important;
}
.porfolio-welcome{
  width: 100% !important;
  padding: 5px;
}
.project-container form{
  width: 100% !important;
}
.name-email-flex{  
  flex-direction: column !important;

}
}
.hero-section .btn {
  margin-top: 20px;
}
.page-body{
  height: fit-content;
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.page-body-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;


}
.page-body-container span{
  border: 1px solid white;
  width: 10%;
  height: 1px;
  margin: 15px;
}
.page-body-container-contents{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-body-container-contents-section{
  width: 55%;
  padding-left: 20px;
  margin-top: 40px;
  border-left: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;  
}

.timeline-item-title{
  display: flex;
  flex-direction: row;

}
.timeline-item-title h5, .timeline-item-title h6{
  display: flex !important;
  width: 100% !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  margin-bottom: 10px;
}
.timeline-dot{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: -61px;
  position:absolute;
}
.timeline-item{
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
  background-color: rgba(63, 21, 3, 0.2);
}
ul{
  margin-top: 20px;
}
li{
  margin-top: 10px;
}
.about-section{
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  
}
.name{
  color: red;
  font-weight:bold;
}
.about-section div{
  width: 80%;
  font-size: 1.5em;
}
h2{
  margin-bottom: 20px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}
.logo{
  width: 20px;
  height: auto;
}

.footer-section{
  padding: 20px;
  margin-top: 20px;
  background-color: darkslategray;
}
.footer-section-divider{

  margin-top: 50px;
  margin-bottom: 20px;
  height: 1px;
  width: 100%;
  background-color: gray;
}
.footer-section-elements{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.footer-section-elements .interests, .footer-section-elements .salary-range{
  flex: 1;
}
.footer-section-elements .send-message{
  flex: 2;
}
.fade-text{
  opacity: 50%;
}
input{
  background-color: transparent;
}
.footer-underline{
  width: 50px;
  height: 2px;
  background-color: gray;
}
.project-container{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.porfolio-welcome{
  width: 50%;
  text-align: center;
  margin: 10px;
}
.btn{
  background: linear-gradient(90deg, #2575fc 0%, #b372f8 100%);
  color: white;
}
.btn:hover{
  color: #b2ebf3;
  border: 1px solid #b2ebf3; 
}
.portfolio-section-divider{

  margin-top: 20px;
  margin-bottom: 10px;
  height: 1px;
  width: 100%;
  background-color: gray;
}

.projects-flex-container{
  width: 100%;
  padding: 30px;
  gap: 20px;
  display: grid;
  columns: 3;
  grid-template-columns: repeat(3, 1fr);
}
.card{ 
  text-align: left;
}
.card img{
  width: 100%;
  height: 170px;
  border-radius: 5px;
}
.card-container{
  color: #fff;
  text-align: left;
  background-color: rgba(21, 9, 9, 0.3);
}
.card-project-text{
  margin-top: 10px;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.flex-teck-stack{
  width: 100%;
  gap: 5px;
  display: flex;
  margin: 5px;
  flex-direction: row;
  flex-wrap: wrap; 
}
.flex-teck-stack a{
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid darkolivegreen;
  display: flex;
  justify-content: center;

}
.flex-teck-stack img{
  width: 20px;
  height: auto;
  margin-right: 5px;
}
.flex-teck-stack div{
  background-color: rgb(128, 128, 128, 0.5);
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  border-radius: 10px;
  margin-right: 10px;
}
.send-message-card{
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: black;
}
.getintouch{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: linear-gradient(90deg, #2575fc 0%, #b372f8 100%);
  width: 100%;
  border: 1px solid lightseagreen;
  padding: 10px;
}
a{
  color: inherit;    
  text-decoration: none; 
}
a:hover {
  color: #b2ebf3; 
}
.contact-det{
  color: #5ff80d;
}
.contact-icon-flex{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-icon-flex img{
  height: 50px;
  width: auto;
  margin: 20px;

}
.contact-icon-flex img:hover{
 padding: 5px;
}
.project-container form{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
input{
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  font-size: large;
  padding: 5px;

}
label{
  margin: 5px;
  font-size: large;

}
.name-email-flex{  
  display: flex;
  width: 100%;
  text-align: left;
  flex-direction: row;

}
.c-flex{
  display: flex;
  flex: 1;
  flex-direction: column;
}
textarea{
  padding: 5px;
  margin: 5px;
  background: transparent;
  height: 100px;
}
.btn-send-msg{
  width: fit-content;
  margin: 10px;
  float: right;
}
.nav-link-get-in-touch{
  width: 100%;
  margin: 0;
}
.button-send-message{
  width: 100%;
}

/* For smaller screens */
@media (max-width: 1024px) {
  .projects-flex-container{
  grid-template-columns: repeat(3, 1fr) !important;
  
  }
}

@media (max-width: 980px) {
  .projects-flex-container{
  grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 620px) {
  .projects-flex-container{ 
  grid-template-columns: repeat(1, 1fr) !important;
  }
}

.blog-container{
  background: white;
  min-height: 100vh;
  color: black;
  display: flex;
  justify-content: center;

}