#root {
  margin: 0 auto;
  color: white;
  
  height: 100vh;
}

html, body{
  margin: 0;
  padding: 0;
  background-image: url('./assets/bg1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
